@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-0">¡Hola mundo!</h1>
    <p>¡Aprendiendo boostrap con ASP.NET Core 9!</p>
</div>

<div class="container-fluid">
    <p>¡Contáctame!</p>
    <form class="form-inline">
        Ingresa tu email:
        <input type="email" class="form-control" size="50" placeholder="Correo electrónico">
        <button type="button" class="btn btn-danger">Enviar</button>
    </form>
</div>