@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-1">
    <h1 class="">Bienvenido a tu restaurante de confianza</h1>
</div>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col">Columna 1</div>
        <div class="col">Columna 2</div>
        <div class="col">Columna 3</div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">Col 1</div>
        <div class="col-12 col-md-6 col-lg-8">Col 2</div>
    </div>

    <p class="text-primary">Texto azul</p>
    <p class="text-danger">Texto rojo</p>
    <p class="text-success">Texto verde</p>
    <p class="text-muted">Texto gris</p>

</div>